<p>Hello {{ name }},</p>
<p>To confirm registration please follow the link below:
  <a href="{{ confirmUrl }}">
    confirm registration
  </a>
</p>
<p>If you not request this mail, just ignore it</p>